.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #737780;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer {
  position: fixed;
  height: 7.5%;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #282c34;
  color: #fff;
  padding: 5% 0px 0px 0px;
}
.footerBottom {
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 1%;
  text-align: center;
  background-color: #282c34;
  color: #cecece;
  padding: 0px 0px 0px 0px; 
  display: flex;
  justify-content: space-around;
}

.clickable{
  cursor: pointer;
  /* border: 1px solid grey; */
}

.todo-list {
  background-color: white;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid #efefef;
  padding: 30px;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

.Main-Content {
  /* height: 92.5%; */
  padding: 0 0 25%;
}
